﻿@*View of Ticket - Index*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="colgroup">#</th>
            <th scope="colgroup">From</th>
            <th scope="colgroup">To</th>
            <th scope="colgroup">Air Line</th>
            <th scope="colgroup">Fare</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pakistan</td>
            <td>US</td>
            <td>Shaheen AirLine</td>
            <td>$900</td>
            <td><a href="#" btn class="btn btn-success " role="button" >Select</a></td>

        </tr>

        <tr>
            <th scope="row">2</th>
            <td>US</td>
            <td>UK</td>
            <td>Emirates</td>
            <td>$1000</td>
            <td><a href="#" btn class="btn btn-success " role="button">Select</a></td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>US</td>
            <td>India</td>
            <td>Air Blue</td>
            <td>$500</td>
            <td><a href="#" btn class="btn btn-success " role="button">Select</a></td>

        </tr>

    </tbody>
</table>