﻿@model ABTravels.Models.Ticket
@*@{
    ViewBag.Title = "TicketsCost";
}*@

<h2>TicketsCost</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="colgroup">#</th>
            <th scope="colgroup">From Place</th>
            <th scope="colgroup">To Place</th>
            <th scope="colgroup">Air Line</th>
            <th scope="colgroup">Fare</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>@Model.fromPlace</td>
            <td>@Model.toPlace</td>
            <td>@Model.Airline</td>
            <td>@Model.Fare</td>
           
            <td><label>Qty:</label>
                <input class="form-control" name="Title" value="@Model.departDate" 
                <input type="text" size="5"></td>
        <td><a href="/TicketController/Payment" btn class="btn btn-success " role="button">Select</a></td>
    </tr>

</tbody>

</table>
