﻿@model ABTravels.Models.Booking
@{
    ViewBag.Title = "Index";
}

<h2>Find Tickets</h2>

<form>
    <label>
        From Location
    </label>

    <select class="form-control" id="fromAirport" name="fromAirport">
    <option>Select Airport</option>
    <option>Jinnah International</option>
    <option>Chicago Airport</option>
    <option>New York Airport</option>
    <option>Dehli Airport</option>
    <option>Canada Airport</option>
</select>

  @*  @Html.TextBox("myTextBox", "From Airport", new { @class = "form-control" })
   *@
    <br />
    
    <label>
        To Location
    </label>

    <select class="form-control" id="fromAirport" name="fromAirport">
        <option>Select Airport</option>
        <option>Jinnah International</option>
        <option>Chicago Airport</option>
        <option>New York Airport</option>
        <option>Dehli Airport</option>
        <option>Canada Airport</option>
    </select>
    
    @*
    @Html.TextBox("myTextBox", "To Airport", new { @class = "form-control" })
    *@
    <br />

    <label>
        Departure Date
    </label>
   
    @Html.TextBoxFor(model => model.departDate, new { @class = "date-picker form-control" })
    <br />

    <label>
        Return Date
    </label>

    @Html.TextBoxFor(model => model.returnDate, new { @class = "date-picker form-control" })
    <br />

    <button type="button" name="Search" value="Search"> Search </button>
</form>